#onegov-quickfeed-container #onegov-feedback-modal #ogf-comment-form #ogf-window label::after {
  content: '';
}

#onegov-quickfeed-container #onegov-feedback-modal #ogf-comment-form #ogf-window #ogf-feedback-cancel:hover {
  cursor: pointer !important;
}
