<div{{ attributes.addClass('thumbs') }}>
  <div class="thumbs-container">
    <div class="thumbs__widget" id="{{ id }}"></div>
    {% if description %}<div class="thumbs__description">{{ description }}</div>{% endif %}
  </div>
</div>
<script type="text/javascript">
  window.onload = function(){
    if (quickFeed !== undefined) {
      quickFeed.init({
        placeholder: {% if float_widget %}null{% else %}'{{ id }}'{% endif %},
        label: '{{ widget_label }}',
        environment: '{{ environment }}',
        sourceApplication: '{{ source_application }}'
      });
    }
  };
</script>
